/* Center container div */
.container {
    /* Flex */
    display: flex;
    flex-direction: column;

    /* Justify */
    justify-content: center;
    align-items: center;

    /* Size */
    width: 100%;
    height: 100vh;

    /* Background */
    margin: 0 auto;
    background: linear-gradient(90deg,
            rgba(48, 16, 255, 1) 0%,
            rgba(100, 115, 255, 1) 100%);
    color: #fff;
    text-transform: capitalize;
}