/* Center container div */
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg,
            rgba(48, 16, 255, 1) 0%,
            rgba(100, 115, 255, 1) 100%);
    color: #fff;
    text-transform: capitalize;
}