.card {
    /* Flex */
    display: flex;
    flex-direction: column;

    /* Justify */
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Size */
    width: 520px;
    min-height: 600px;

    /* Background */
    background: #161a2b;
    margin: 128px auto;
    border-radius: 2rem;
}

/* Made the card responsive for tablets */
@media screen and (max-width: 768px) {
    .card {
        width: 75%;
        height: 90%;
    }
}

/* Made it responsive for mobile devices */
@media screen and (max-width: 480px) {
    .card {
        width: 90%;
        height: 90%;
    }
}