.form-input {
    /* Size */
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    width: 320px;

    /* Decoration */
    outline: none;

    /* Background */
    background: transparent;
    color: #fff;
}

.form-input::placeholder {
    color: #e2e2e2;
}

/* Made it responsive for mobile devices */
@media screen and (max-width: 480px) {
    .form-input {
        width: 90%;
    }
}