.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}