.card-title {
    /* Size */
    margin: 32px 0;

    /* Decoration */
    color: #fff;
    font-size: 24px;
}

/* Made it responsive for mobile devices */
@media screen and (max-width: 480px) {
    .card-title{
        font-size: 20px;
    }
}