.form-button {
    /* Size */
    padding: 16px;
    border: none;

    /* Decoration */
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;

    /* Background */
    background: linear-gradient(90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%);
    color: #fff;
}

/* Made it responsive for mobile devices */
@media screen and (max-width: 480px) {
    .form-button {
        width: 90%;
    }
}