.todo-form {
    margin-bottom: 32px;
}

.todo-input {
    /* Size */
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    width: 320px;

    /* Decoration */
    outline: none;

    /* Background */
    background: transparent;
    color: #fff;
}

.todo-input::placeholder {
    color: #e2e2e2;
}

.todo-button {
    /* Size */
    padding: 16px;
    border: none;

    /* Decoration */
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;

    /* Background */
    background: linear-gradient(90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%);
    color: #fff;
}

/* Made it responsive for mobile devices */
@media screen and (max-width: 480px) {
    .todo-input {
        width: 100%;
    }

    .todo-button {
        width: 100%;
    }
}